aggdraw==1.3.12
CairoSVG==2.5.0
colorama==0.4.3
Cython==0.29.21
numpy==1.19.2
oauthlib==3.1.0
pandas==1.1.2
pandocfilters==1.4.2
Pillow==8.0.1
pycairo==1.20.0
pygifsicle==1.0.1
requests==2.24.0
requests-oauthlib==1.3.0
tqdm==4.50.0
